/* ------------------------------------------------------------------------ */
table.dataTable {
    box-sizing: border-box;
    border-collapse: collapse;
    font-size: .8rem;
    width: 100% !important
}

table.dataTable thead th {
    padding: 0.2rem;
}

table.dataTable tbody td {
    padding: 0.2rem;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.dataTables_info,
.dataTables_filter,
.dataTables_length,
.dataTables_paginate {
    font-size: .8rem;
}

.has-error .invalid-feedback {
    display: block !important;
}

/* ------------------------------------------------------------------------ */